// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2022 Arm Ltd,
 * based on work:
 *   Copyright 2022 Icenowy Zheng <uwu@icenowy.me>
 */

/dts-v1/;
#include "suniv-f1c100s.dtsi"

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/irq.h>


/ {
	model = "Vuctf revA";
	compatible = "lctech,pi-f1c200s", "allwinner,suniv-f1c200s",
		     "allwinner,suniv-f1c100s";

	aliases {
		serial0 = &uart0;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	reg_vcc3v3: regulator-3v3 {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
	};
};

&otg_sram {
	status = "okay";
};

&spi0 {
	pinctrl-names = "default";
	pinctrl-0 = <&spi0_pc_pins>;
	status = "okay";

	flash@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "xtx,xt25f64", "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <40000000>;

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			partition@0 {
				label = "u-boot";
				reg = <0x000000 0x100000>;
				read-only;
			};

			partition@1 {
				label = "dtb";
				reg = <0x100000 0x10000>;
				read-only;
			};

			partition@2 {
				label = "kernel";
				reg = <0x110000 0x4F0000>;
				read-only;
			};

			partition@3 {
				label = "rootfs";
				reg = <0x600000 0x1A00000>;
			};
		};
	};
};

&spi1 {
	pinctrl-names = "default";
	pinctrl-0 = <&spi1_pe_pins>;
	status = "okay";

	ethernet@0 {
		compatible = "wiznet,w5500";
		reg = <0>;
		pinctrl-names = "default";
		pinctrl-0 = <&w5500_pins>;
		interrupt-parent = <&pio>;
		interrupts = <4 11 IRQ_TYPE_EDGE_FALLING>;
		//spi-max-frequency = <30000000>;
		//spi-max-frequency = <3000000>;
		spi-max-frequency = <115200>;
	};
};

&uart0 {
        pinctrl-names = "default";
        pinctrl-0 = <&uart0_pe_pins>;
        status = "okay";
};

/*
 * This is a Type-C socket, but CC1/2 are not connected, and VBUS is connected
 * to Vin, which supplies the board. Host mode works (if the board is powered
 * otherwise), but peripheral is probably the intention.
 */
&usb_otg {
	dr_mode = "peripheral";
	status = "okay";
};

&usbphy {
	status = "okay";
};
